*{
    margin: 0;
    padding: 0;
}

.orangebox{
    position: relative;
    top: 0;
    /* left: 3%; */
    background-color:#cf5c33d3;
    height: 120vh;
    width: 60vw;

}

.whiteline{
    height: 5px;
    width: 55px;
    background-color: white;
   position: relative;
   top: 45px;
   left: 2.5%;
}
.lefttop1 p{
    position: relative;
    top: 32px;
    left: 2%;
    font-size: 70px;
    font-weight: 650;
    color: white;
    /* text-decoration: overline; */
}

/* .lefttop1 span{
    color: white;
    position: relative;
   
    left: 8%;
  margin-top: 552px;
  margin-left: 12px;

} */

/* .righttext h4{
    position: relative;
    top: 55px;
    right: 0;
    color: white;
    font-size: 45px;
    
    background-color: #f7560b9f;
    border: 5px solid white;
    writing-mode:vertical-rl;
    text-orientation: upright;
} */

.righttext h2{
   
    position: relative;
    top: 55px;
    right: 0;
    color: white;
    font-size: 45px;
    float: right;
    margin-right: 12%;
    background-color: #f7560b9f;
    border: 5px solid white;
    writing-mode:vertical-rl;
    text-orientation: upright;
}
.left1para p{
    font-size: 11px;
    text-align: left;
    padding-left: 45px;
    padding-right: 75px;
}
.laptopimg img{

    position: absolute;
    right:0%;
    z-index: -3;
    width: 78vw;
    height: 73vh;
}
.list_iteam ul{
    
    position: relative;
    top: 6vh;
    left: 9%;
    list-style: none;
    display: inline-flex;
}
.list_iteam li{
    padding: 8%;
}
.list_iteam img{
    height: 10vh;
    width: 8vw;
}
.busi p{
    position: relative;
    left: 13%;
    margin-top: -6%;
    font-size: 140px;
    
}
.busi span{
    font-size: 80px;
    position: relative;
    left: 13%;
    color: white;
    font-weight: 400;
   top: -30px;
}

h4{
    color: white;
    position: relative;
    top: -25px;
    left: 13%;
}
.list_iteam2 p{
    font-size: 32px;
    position: relative;
   
    left: 13%;
    list-style: none;
}
.list_iteam2{
    position: relative;
    top: 133px;
}

.bluebox{
    position: absolute;
    top: 60vh   ;
    right: 0;
    background-color:#629d99b5;
    height: 120vh;
    width: 50vw;
}
.list_itetam3 ul{
    position: relative;
    top: 180px;
    list-style: none;
    color: white;
    font-size: 20px;
    left: 13%;
}

.A span{
    position: relative;
    
    font-size: 120px;
    color: white;
   /* margin-top: 262px; */
  float: right;
}

.A p{
    position: relative;
    /* margin-top: 800px; */
}